<% layout('layout/auth') -%>
<div class="container-fluid">
    <div class="row">
        <!--   sidebar -->
        <% include layout/sidebar %>
        <div class="  col-lg-10 col-12 offset-lg-2  " style="margin-top: 70px;">
            <img src="/assets/images/404-status-code.png" alt="hello" style="height: 100%;width: 100%;">
        </div>
    </div>
</div>