
<!-- offcanvas mobile size -->
<div class="offcanvas   offcanvas-start d-block d-md-none" data-bs-scroll="true" style="width: 160px; margin-top: 80px;" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling1" aria-labelledby="offcanvasScrollingLabel">

    <div class="offcanvas-body " style="width: 155px;">
        <!-- Sidebar Items -->
        <a href="#" class="text-decoration-none text-dark d-flex mb-3"><i class="bi bi-border-all me-2"></i><span>Dashboard</span></a>
        <a href="#" class="text-decoration-none text-dark d-flex justify-content-between mb-2">
            <div><i class="bi bi-archive-fill me-2"></i><span>Product</span></div>
            <i class="bi bi-chevron-down"></i>
        </a>
        <a href="#" class="text-decoration-none text-dark d-flex mb-3"><i class="bi bi-percent me-2"></i><span>Flash Sales</span></a>
        <a href="#" class="text-decoration-none text-dark d-flex mb-3"><i class="bi bi-reception-3 me-2"></i><span>POS System</span></a>
        <a href="#" class="text-decoration-none text-dark d-flex mb-3"><i class="bi bi-bag-check-fill me-2"></i><span>Order</span></a>
        <a href="#" class="text-decoration-none text-dark d-flex mb-3"><i class="bi bi-star-half me-2"></i><span>Rating </span></a>
        <a href="#" class="text-decoration-none text-dark d-flex justify-content-between mb-3">
            <div><i class="bi bi-person me-2"></i><span>User</span></div>
            <i class="bi bi-chevron-down"></i>
        </a>
        <a href="#" class="text-decoration-none text-dark d-flex mb-3"><i class="bi bi-person-vcard me-2"></i><span>Subscription</span></a>
        <a href="#" class="text-decoration-none text-dark d-flex mb-3"><i class="bi bi-cloud-arrow-up me-2"></i><span>Bulk Upload</span></a>
        <a href="#" class="text-decoration-none text-dark d-flex mb-3"><i class="bi bi-person-gear me-2"></i><span>Admin</span></a>

        <a href="#" class="text-decoration-none text-dark d-flex justify-content-between mb-2">
            <div><i class="bi bi-currency-rupee "></i><span>Withdrawal</span></div>
            <i class="bi bi-chevron-down text-end"></i>
        </a>

        <a href="#" class="text-decoration-none text-dark d-flex justify-content-between mb-2">
            <div><i class="bi bi-pencil-square me-2"></i><span>UI</span></div>
            <i class="bi bi-chevron-down text-end"></i>
        </a>
        <a href="#" class="text-decoration-none text-dark d-flex mb-3"><i class="bi bi-shop me-2"></i><span>Store</span></a>
        <a href="#" class="text-decoration-none text-dark d-flex mb-3"><i class="bi bi-gear-fill me-2"></i><span>Setting</span></a>
    </div>
</div>



<!--  offcanvas midium_size     -->

<div class="  border " style="width: 350px;" >
    <div class="offcanvas  min-vh-100 d-sm-block offcanvas-start d-lg-none" data-bs-scroll="true" style="width: 320px; margin-top: 80px;" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">


        <div class="offcanvas-body ">

            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4 mt-4 active"><i class="bi bi-border-all fs-5 "  ></i><span class="fs-5 ">Dashbord</span></a>
            <a href="/etc" class="text-decoration-none text-dark d-flex   ms-3 mb-4 justify-content-between">
                <div >
                    <i class="bi bi-archive-fill fs-5 me-4"></i><span class="fs-5 ">Product</span>
                </div>
                <i class="bi bi-chevron-down" style="margin-left: 100px"></i>
            </a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4"><i class="bi bi-percent fs-5"></i><span class="fs-5 ">Flash sales</span></a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 mb-4 d-flex justify-content-between ">

                <div>
                    <i class="bi bi-reception-3 fs-5  ms-3 me-4"></i><span class="fs-5 ">POS System</span>
                </div>
                <div>
                    <button class="btn btn-danger me-1" style="width: 65px;">Plugin</button>
                    <i class="bi bi-chevron-down "  ></i>
                </div>


            </a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4"><i class="bi bi-bag-check-fill fs-5"></i><span class="fs-5 ">Order</span></a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4"><i class="bi bi-star-half fs-5"></i><span class="fs-5 ">Rating reviews</span></a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4 d-flex justify-content-between">
                <div>
                    <i class="bi bi-person fs-5 me-4"></i><span class="fs-5 ">User</span>
                </div>
                <i class="bi bi-chevron-down" style="margin-left: 100px"></i>
            </a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4 d-flex justify-content-between">
                <div>
                    <i class="bi bi-person-vcard fs-5  me-4"></i><span class="fs-5 ">Subscription</span>
                </div>
                <i class="bi bi-chevron-down" ></i>
            </a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4"><i class="bi bi-cloud-arrow-up fs-4"></i><span class="fs-5 ">Bulk upload</span></a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4"><i class="bi bi-person-gear fs-4"></i><span class="fs-5 ">Admin & vendors</span></a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4 d-flex justify-content-between">
                <div>
                    <i class="bi  bi-currency-rupee fs-4 me-4"></i><span class="fs-5 ">Withdrawal</span>
                </div>
                <i class="bi bi-chevron-down text-end" ></i>
            </a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4 d-flex justify-content-between">
                <div>
                    <i class="bi bi-pencil-square fs-4 me-4"></i><span class="fs-5 ">UI</span>
                </div>
                <i class="bi bi-chevron-down text-end" ></i>
            </a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4"><i class="bi bi-shop fs-4"></i><span class="fs-5 ">Store</span></a>
            <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-4"><i class="bi bi-gear-fill fs-4"></i><span class="fs-5 ">Setting</span></a>

        </div>

    </div>
</div>



<!-- desktop size sidebar and main content-->
<div class=" col-lg-2 d-none h-100 d-lg-block  d-flex flex-column  bg-light position-fixed "  style="margin-top: 50px;" >
    <div >
                <a href="/admin/dashBord" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-xl-3 mb-xl-3  ms-sm-4 mb-sm-4 mt-sm-4"><i class="bi bi-border-all  "  ></i><span class=" ">Dashbord</span></a>
                <a href="/admin/product" class="text-decoration-none text-dark d-flex   ms-3 mb-3 justify-content-between">
                    <div >
                        <i class="bi bi-archive-fill  me-4"></i><span class=" ">Product</span>
                    </div>
                    <i class="bi bi-chevron-down" ></i>
                </a>
                    <a href="/admin/category" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-3 justify-content-between">
                        <div>
                            <i class="bi bi-person  me-4"></i><span class=" ">category</span>
                        </div>
                        <i class="bi bi-chevron-down" ></i>
                    </a>
                <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-3"><i class="bi bi-percent fs-5"></i><span class=" ">Flash sales</span></a>
                <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 mb-3 justify-content-between ">
                    <div>
                        <i class="bi bi-reception-3   ms-3 me-4"></i><span class=" ">POS System</span>
                    </div>
                    <div>
                        <button class="btn btn-danger py-1 px-1" >Plugin</button>
                        <i class="bi bi-chevron-down ms-1"  ></i>
                    </div>
                </a>
                <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-3"><i class="bi bi-bag-check-fill "></i><span class=" ">Order</span></a>
                <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-3"><i class="bi bi-star-half "></i><span class=" ">Rating reviews</span></a>

                <a href="/subscription" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-3   justify-content-between">
                    <div>
                        <i class="bi bi-person-vcard  me-4"></i><span class=" ">Subscription</span>
                    </div>
                    <i class="bi bi-chevron-down" ></i>
                </a>
                <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-3"><i class="bi bi-cloud-arrow-up "></i><span class=" ">Bulk upload</span></a>
                <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-3"><i class="bi bi-person-gear "></i><span class=" ">Admin & vendors</span></a>
                <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-3  justify-content-between">
                    <div>
                        <i class="bi  bi-currency-rupee  me-4"></i><span class=" ">Withdrawal</span>
                    </div>
                    <i class="bi bi-chevron-down text-end" ></i>
                </a>
                <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-3  justify-content-between">
                    <div>
                        <i class="bi bi-pencil-square  me-4"></i><span class=" ">UI</span>
                    </div>
                    <i class="bi bi-chevron-down text-end" ></i>
                </a>
                <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-3"><i class="bi bi-shop "></i><span class=" ">Store</span></a>
                <a href="/etc" class="text-decoration-none text-dark d-flex d-grid gap-4 ms-3 mb-3"><i class="bi bi-gear-fill "></i><span class=" ">Setting</span></a>
    </div>
</div>
